<h1>Did BitmakerLabs help you become a better coder yesterday?</h1>

<%= form_for @vote do |f| %>
  <%= f.label :response do %>
    <%= f.radio_button :response, 0 %>
    I wasn't there.
  <% end %>

  <%= f.label :response do %>
    <%= f.radio_button :response, 1 %>
    I am utterly confused.
  <% end %>

  <%= f.label :response do %>
    <%= f.radio_button :response, 2 %>
    It's misty.
  <% end %>

  <%= f.label :response do %>
    <%= f.radio_button :response, 3 %>
    I'm a superhero.
  <% end %>

  <%= f.submit "That's my response" %>
<% end %>